    
:root {
    --dark-bg: #252627;
    --checked-clr: #7494EA;
  }
  .light-bg {
    --light-bg: #EDF7F6;
    background: var(--light-bg);
  }
  body {
    background: var(--dark-bg);
    transition: background 300ms ease;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type="checkbox"]{
    cursor: pointer;
    -webkit-appearance: none;
    appaerance: none;
    position: relative;
    width: 100px;
    height: 40px;
    border: 2px solid #CCDBDC;
    outline: none;
    border-radius: 30px;
    transition: 300ms;
  }
  input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 34px;
    height: 34px;
    background: #cccccc;
    border-radius: 50%;
    transition: background 300ms ease, transform 300ms ease;
  }
  input[type="checkbox"]:checked::before {
    transform: translateX(58px);
    background: var(--checked-clr);
  }
  input[type="checkbox"]:checked {
    border-color: var(--checked-clr);
  }